<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/nullstyle.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

  <div id="app" class="container">
    <form v-on:submit.prevent="addNewTodo">
      <input
        v-model="newTodoText"
        id="new-todo"
        class="new-todo"
        placeholder="What needs to be done?"
      >
      <button class="add-item-btn btn">&#x2b; Add</button>
    </form>
    <div>

    </div>
    <h2 class="title">Todo List</h2>
    <ul class="todo-list">
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-bind:stage="todo.stage"
        v-on:remove="todos.splice(index, 1); sendDataToLS()"
        v-on:ubdatestate="updateToDoState($event, index)"
      ></li>
    </ul>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue/components.js"></script>
  <script src="vue/app.js"></script>
</body>
</html>